* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.button-primary {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    padding: 18px 35px;
    line-height: 27px;
    border: none;
    /* width: 150px; */
    height: 64px;
    background: #FD6E0A;
    border-radius: 5px;
}

/* header and navigation style */
nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

/* banner styles */
.banner {
    margin: 0 200px;
    display: flex;
    align-items: center;
}

.banner-title {
    margin-bottom: 5px;
    color: #474747;
    /* width: 177px; */
    height: 61px;


    font-weight: 600;
    font-size: 45px;
    /* line-height: 61px; */
}

.banner-title2 {
    margin-bottom: 20px;
    color: #181818;
    /* width: 498px; */
    height: 116px;

    font-size: 85px;
    /* line-height: 116px; */
}

.pera {
    margin-bottom: 30px;
    color: #757575;
    /* width: 585px; */
    height: 60px;
    /* left: 230px;
    top: 499px; */

    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

.header {
    background: #FFF8F3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

/* Main */
main {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    /* text-align: center; */
    margin-top: 130px;
    /* border-radius: 10px;
    padding: 131px 157px; */
}

.about {
    text-align: center;
    /* margin-top: 130px; */
    background: #FFF8F3;
    border-radius: 10px;
    padding: 131px 157px;
}

.sec-title {
    text-align: center;
    color: #181818;
    height: 48px;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 30px;
}

.sec-description {
    color: #757575;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about .info-title {
    color: #757575;
    /* height: 60px; */
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.about .info-value {
    /* height: 60px; */
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    /* or 150% */

    text-align: center;

    /* Dark 02 */

    color: #474747;
}

.skills-container {
    margin-top: 50px;
    display: flex;
    gap: 24px;
}

.skill {
    /* width: 267px;
    height: 377px; */
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}

.skill-title {
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.skill_description {
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}

/* Resume style */
.resume-content {
    display: flex;
    gap: 24px;
}

.summary .resume-title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 25px;
    color: #474747;
}
.resume-item{
    margin-top: 30px;
    /* margin-bottom: 30px; */
}

.summary .sub-title {
    color: #757575;
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 20px;
}

.summary .descriptions {
    color: #757575;
}
.resume-button{
    margin-top: 50px;
    text-align: center;
}

/* footer */
.contact{
    display: flex;
    gap: 117px;
    background: #FFF8F3;
    padding: 130px 200px;
}

.contact-title{
    text-align: left;
    margin-bottom: 20px;
}
.contact-description{
    color: #474747;
    margin-bottom: 30px;
}
.contact input[type="text"],input[type="email"],textarea{
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px;
}
.contact a{
    text-decoration: 0;
}